.Message {
    margin-bottom: 10px;
    border: 1px solid forestgreen;
    border-radius: 2px;
}

.Message:last-child {
    margin: 0;
}

.Message .Message-paragraph {
    margin: 0;
    padding: 5px;
}

.Message .Message-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    padding: 5px;
}

.Message .Message-text {
    margin-left: 20px;
}